{{new_role_name}}
==================

Brief role description


Role Variables
--------------
Describe role variables here.

You can copy the file files/group_vars_all in the playbook group_vars/all/directory for easy config (allready done if playbook-generator is used)



How to use 
----------

Put here the way to use this role.

    - hosts: server
      roles:
         - { role: {{ new_role_name }}, var1: "w00t" }

License
-------

Licensed under the MIT License. See the [LICENSE](LICENSE) file for details.


Author Information
------------------

Talk about you :)
